<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css"
      rel="stylesheet"
    />
    <title>Alert</title>
  </head>
  <body>
    <p>
      <button class="bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded" onclick="showAlert()">Show Alert</button>

      <div class="fixed right-1/2 px-4 py-2 text-white bg-green-500 rounded-md shadow-md transition duration-150 ease-in-out hidden" id="my-alert">
        Job Saved
      </div>
<p id="answer"></p>
 
<script>
  function showAlert() {
  const alertElement = document.getElementById('my-alert');
  alertElement.classList.remove('hidden');

  setTimeout(() => {
    alertElement.classList.add('hidden');
  }, 5000); // Change 5000 to your desired duration in milliseconds
}


for (let i = 1; i <= 100; i++) {
  let output = "";

  if (i % 3 === 0) {
    output += "Site";
  }

  if (i % 5 === 0) {
    output += "Host";
  }

  if (output === "") {
    output = i;
  }
document.getElementById('answer').innerHTML = output;
  console.log(output);
}

</script>    
  </body>
</html>